
    html, body {
        height: 100%;
        padding: 0;
        margin: 0;
      }  

/* code header Max */

.contpresheader {
    padding: 0px 20px;
    background-color: #729B79; 
    
}
.navbarre, ul {
    margin: 20px;
    padding: 0px;
    list-style: none;

}
.navbarre a {
    margin-top:  -130px;
    padding: 41px;
    display: flex;
    text-align:end;
    text-decoration: none;
    color: darkslategray;
    font-weight: bold;
    size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.navbarre .listecatnav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.logoheader {
    display: block;
    text-align: left;
}
.listecatnav {
    margin-top: 0px;
    margin-bottom: 0px;
    float: right;
}

.feliste1 {
    background-color:#edc4b3 ;
}
.feliste2 {
    background-color:#d69f7e;
}
.feliste3 {
    background-color: #b07d62;
}
.feliste4 {
    background-color: #8a5a44;
}
.effet1:hover {
    color: #edc4b3;
    transition: 1s ease-out;
}
.effet2:hover {
    color: #d69f7e;
    transition: 1s ease-out;
}
.effet3:hover {
    color: #b07d62;
    transition: 1s ease-out;
}
.effet4:hover {
    color: #8a5a44;
    transition: 1s ease-out;
}










/* PAGE ACCUEIL Damien */

    .slideshow{
    
    border: 5px solid white;
    box-shadow: 0 0 5px hsla(0,0%,0%,.5);
    overflow: hidden;
    max-width: 600px;
    margin: 2rem auto;
    position: relative
    
    }
        
.slideshow ul{
    padding-bottom: 66.67%;/* ratio pour le responsive */
    margin: 0;
    list-style-type: none;
    position: relative  
        }       
.slideshow li{
    top: 0;
    left: 0;
    animation: slideshow 25s ease infinite;
    position: absolute;
    opacity: 0;
    }
.slideshow li:nth-child(2){
    animation-delay: 3s
    }
.slideshow li:nth-child(3){
    animation-delay: 5s
    }
.slideshow li:nth-child(4){
    animation-delay: 7s
    }
.slideshow li:nth-child(5){
    animation-delay: 9s
    }
.slideshow li:nth-child(6){
    animation-delay: 12s
     }
.slideshow li:nth-child(7){
    animation-delay: 15s
    }
.slideshow li:nth-child(8){
    animation-delay: 18s
    }
    
        
    @keyframes slideshow{   
    0%{opacity: 0}
    10%{opacity: 1}
    20%{opacity: 1}
    25%{opacity: 0}
    100%{opacity: 0}  
    } 
.slideshow span{
    background: rgba(0,0,0,0.7);
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0
    }
    .accueilintro{
        text-align: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
        font-size: large;
        color: white;
        text-shadow:   -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000,
         1px 1px 2px #141414,
         1px 1px 3px #141414,
         1px 1px 5px #141414,
         1px 1px 7px #141414,
         1px 1px 10px #141414,
         1px 1px 12px #141414,
         1px 1px 18px #141414;
    }
/* code damien footer damien */
body{
    background-color: #a3b18a;
}
#footer_position{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer{
    background-color: #3A5A40;
    
    margin: 0 auto;
    width: 100%;
    height: auto;
 
}
.imgvault{
    height:100px;
    margin-top: 15px;
}
.arbreenville{
    height: 100px;
    margin-top: 15px;
}
.marseille{
    height: 100px;
    margin-top: 15px; 
}
.footerimage {
    width: 90%;
    display: flex;
    justify-content: space-between;
}


.liens{
    display: flex;
    justify-content:space-between;
    text-decoration: none;
    color: white;
    width: 55%;
    
}
.liensutiles{
    margin-left: 40px;
}
.liensutiles2{
    margin-right: 40px;
}
.liensutiles a{
    color: white;
    text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 2px #141414,
     1px 1px 3px #141414,
     1px 1px 5px #141414,
     1px 1px 7px #141414,
     1px 1px 10px #141414,
     1px 1px 12px #141414,
     1px 1px 18px #141414;  
}




/* page Legumes */


h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align: center;
    margin-left: 100px;
    color: white;
    font-size:60px;
    text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 2px #141414,
     1px 1px 3px #141414,
     1px 1px 5px #141414,
     1px 1px 7px #141414,
     1px 1px 10px #141414,
     1px 1px 12px #141414,
     1px 1px 18px #141414;
}

.potagerkyoto{
    display: flex;
    justify-content: flex-start;
}
.potager,.potager2,.potager3{
    height: 400px;
    margin-left: 10px;
}
.potagerkyoto p,.recolte p,.permaculture p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    color: white;
    font-size:35px;
    text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 2px #141414,
     1px 1px 3px #141414,
     1px 1px 5px #141414,
     1px 1px 7px #141414,
     1px 1px 10px #141414,
     1px 1px 12px #141414,
     1px 1px 18px #141414;
     color:#fff;
}
.recolte{
    display: flex;
    justify-content: right;
}


.recolte p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    color: white;
    font-size:35px;
    text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 2px #141414,
     1px 1px 3px #141414,
     1px 1px 5px #141414,
     1px 1px 7px #141414,
     1px 1px 10px #141414,
     1px 1px 12px #141414,
     1px 1px 18px #141414;
     color:#fff;
}
.permaculture{
    display: flex;
    justify-content: flex-start;
}




/* page FLEUR damien  */
.containerfleur{
    display: flex;
    background-image: url("image/fleur7.jpg");
    background-size:cover;
    padding:300px;
    background-repeat: no-repeat;
    background-clip: border-box;
}
.textefleur{
 
   border: #fff;
   background-color: white;
   margin-right: 300px;
   background: rgba(250, 245, 245, 0.4);
}
.entetefleur{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align: center;
    margin-left: 100px;
    color: white;
    font-size:60px;
    text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 2px #141414,
     1px 1px 3px #141414,
     1px 1px 5px #141414,
     1px 1px 7px #141414,
     1px 1px 10px #141414,
     1px 1px 12px #141414,
     1px 1px 18px #141414;
     color:#fff;
}
.textefleur p{
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    color: white;
    font-size:35px;
    text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 2px #141414,
     1px 1px 3px #141414,
     1px 1px 5px #141414,
     1px 1px 7px #141414,
     1px 1px 10px #141414,
     1px 1px 12px #141414,
     1px 1px 18px #141414;
     color:#fff;
  
}
	
.galerie {
	
    width: 1300px;
    max-width: 100%;
    max-height:720px;
    margin: auto;
    display: flex; 
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    
        
    }
    
    .galerie img {
    margin:0;
    min-width:100%;
    align-self: center; 
    scroll-snap-align: center
        
    }
    
    .ancre {
        
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    
    }
    /* CODE CSS MAX */
    #presenta1 {
        margin-left: 70px;
        margin-right: 70px;
    }
    .elementpres1 {
        font-size: 42px;
        margin-bottom: -80px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #BACDB0;
        text-shadow:   -1px -1px 0 #000, 
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000,
         1px 1px 2px #141414,
         1px 1px 3px #141414,
         1px 1px 5px #141414,
         1px 1px 7px #141414
    }
    .elementpres2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        place-items: center;
       
    }
    .elementpres3 {
        display: flex;
        justify-content: right;
        font-size: 42px;
        margin-top: -80px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #BACDB0;
        text-shadow:   -1px -1px 0 #000, 
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000,
         1px 1px 2px #141414,
         1px 1px 3px #141414,
         1px 1px 5px #141414,
         1px 1px 7px #141414
    }
    .textepres2:hover {
        color: white;
        transition: 1s ease-out;
    }
    .textepres1:hover {
        color: white;
        transition: 1s ease-out;
    }
    
    .templedelo:hover {
        background-image: url("image/DSC_0476.JPG");
    }
    .titrepres {
        margin-left: 100px;
        margin-right: 100px;
        text-align: center;
        text-decoration: underline;
        font-size: 55px;
        color: #ddb892;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-shadow:   -1px -1px 0 #000,  /*Rajouter des lignes de shadow permet d'étendre l'hombrage comme on souhaite*/
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000,
         1px 1px 2px #141414,
         1px 1px 3px #141414,
         1px 1px 5px #141414,
         1px 1px 7px #141414,
         1px 1px 10px #141414,
         1px 1px 12px #141414,
         1px 1px 18px #141414;
    }
    .parapres1 {
        text-align: center;
        margin-right: 200px;
        margin-left: 200px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 120%;
        background-color: #9d6b53;
        color: #fff;
        border-radius: 6px;
    }
    .backparapres1 {
        background-image: url(image/nature-background-with-golden-foil_52683-46949.jpg);
        background-clip: padding-box;
        padding: 20px
    }
    .paragraphepres1 {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        padding: 40px;
        margin-right: 400px;
        margin-left: 400px;
        background-color: #899D78;
        border-radius: 50px;
    }
    .imagepres {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    .hyperlienpres1 {
        color: black;
    }
    .hyperlienpres1:hover {
        color: rgb(204, 0, 0);
        transition: 1s ease-out;
    
    }
    .photo1plante {
    margin-left: 10px;
}

.conteneurplante {
    text-align: right;
    background-clip:border-box;
    background-image: url(image/DSC_0403.JPG);
    background-size: 100%;
    padding: 220px;
   
}
.contenuplante1 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 130%;
    padding: 20px;
    margin-top: -120px;
    columns: 1;
    margin-left: 70%;
}
.titreplante {
    text-decoration: underline;
    text-shadow:   -1px -1px 0 #000, 
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
}

.backgroundplante1 {
    /* background-image: url(image/feuille1.jpg); */
    background-color: #d7d9ce;
    background-size: 18%;
    padding: 60px;
    margin-top: 20px;
}
.contenumainplante1 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    padding: 4px;
    column-gap: 80px;
}
.colonnecont1 {
    content: 80%;
    columns: 1;
    margin: 140;
}
.colonnecont2 {
    columns: 1;
    margin: 140px;
    
}
.titrecolonnep1, .titrecolonnep2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bolder ;
    text-align: center;
    text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 2px #141414,
     1px 1px 3px #141414,
     1px 1px 5px #141414,
     1px 1px 7px #141414,
     1px 1px 10px #141414,
     1px 1px 12px #141414,
     1px 1px 18px #141414;color:#fff;
}
.paracolonnep1, .paracolonnep2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
*{box-sizing:border-box}
img{
    max-width: 100%;
}
.backphotoplant {
    background-image: url(image/leaves-1498985_960_720.jpg);
    background-color: #729B79;
    background-repeat: repeat;
    height: 780px;
    padding: 7px;
   
}
.galeriephotoplante {
    background-color: rgba(255, 255, 255, 0.6);
    max-width: 800px;
    margin: 1rem auto;
}
.listephotoplante {
    display: flex;
padding-bottom: 66.67%;
position: relative;
overflow: hidden;
list-style-type: none;
margin:0;
}
.galeriephotoplante ul li a img {
    flex: 1; /*les photos occupent la même place selon la largeur du conteneur*/
    padding: 5rem auto;

}
.galeriephotoplante ul li span img {
    position: absolute;
size: 80%;
bottom: 0;
left: -100%;
opacity: 0;
transition: all .6s
}
.galeriephotoplante ul li:focus-within span img {
    left: 0;
    opacity: 1;
}
.titregalerieplante {
    background-color: #344e41;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    text-align: center;
    font: bolder;
    font-size: 250%;
    text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 2px #141414,
     1px 1px 3px #141414,
     1px 1px 5px #141414,
     1px 1px 7px #141414,
     1px 1px 10px #141414,
     1px 1px 12px #141414,
     1px 1px 18px #141414;color:#fff;
    
}
.textegalerieint::placeholder {
    
    align-items: center;
}
#intgalerie {
    position: absolute;
    text-align: center;
    width: 600px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 300px;
    margin-left: 100px;
    margin-right: 130px;
    background-color: #F3E8EE;
    
}
/*-----------------------------< Css Plantes "MAX" >--------------------------------*/
.photo1plante {
    margin-left: 10px;
}

.conteneurplante {
    text-align: right;
    background-clip:border-box;
    background-image: url(image/DSC_0403.JPG);
    background-size: 100%;
    padding: 220px;
   
}
.contenuplante1 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 130%;
    padding: 20px;
    margin-top: -120px;
    columns: 1;
    margin-left: 70%;
}
.titreplante {
    text-decoration: underline;
    text-shadow:   -1px -1px 0 #000, 
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
}

.backgroundplante1 {
    /* background-image: url(image/feuille1.jpg); */
    background-color: #d7d9ce;
    background-size: 18%;
    padding: 60px;
    margin-top: 20px;
}
.contenumainplante1 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    padding: 4px;
    column-gap: 80px;
}
.colonnecont1 {
    content: 80%;
    columns: 1;
    margin: 140;
}
.colonnecont2 {
    columns: 1;
    margin: 140px;
    
}
.titrecolonnep1, .titrecolonnep2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bolder ;
    text-align: center;
    text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 2px #141414,
     1px 1px 3px #141414,
     1px 1px 5px #141414,
     1px 1px 7px #141414,
     1px 1px 10px #141414,
     1px 1px 12px #141414,
     1px 1px 18px #141414;color:#fff;
}
.paracolonnep1, .paracolonnep2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
*{box-sizing:border-box}
img{
    max-width: 100%;
}
.backphotoplant {
    background-image: url(image/leaves-1498985_960_720.jpg);
    background-color: #729B79;
    background-repeat: repeat;
    height: 780px;
    padding: 7px;
   
}
.galeriephotoplante {
    background-color: rgba(255, 255, 255, 0.6);
    max-width: 800px;
    margin: 1rem auto;
}
.listephotoplante {
    display: flex;
padding-bottom: 66.67%;
position: relative;
overflow: hidden;
list-style-type: none;
margin:0;
}
.galeriephotoplante ul li a img {
    flex: 1; /*les photos occupent la même place selon la largeur du conteneur*/
    padding: 5rem auto;

}
.galeriephotoplante ul li span img {
    position: absolute;
size: 80%;
bottom: 0;
left: -100%;
opacity: 0;
transition: all .6s
}
.galeriephotoplante ul li:focus-within span img {
    left: 0;
    opacity: 1;
}
.titregalerieplante {
    background-color: #344e41;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    text-align: center;
    font: bolder;
    font-size: 250%;
    text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 2px #141414,
     1px 1px 3px #141414,
     1px 1px 5px #141414,
     1px 1px 7px #141414,
     1px 1px 10px #141414,
     1px 1px 12px #141414,
     1px 1px 18px #141414;color:#fff;
    
}
.textegalerieint::placeholder {
    
    align-items: center;
}
#intgalerie {
    position: absolute;
    text-align: center;
    width: 600px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 300px;
    margin-left: 100px;
    margin-right: 130px;
    background-color: #F3E8EE;
    
}
/*------------------------------< Css arbuste Max >----------------------------*/
.arbustetitre{
    font-size: 45px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow:   -1px -1px 0 #000,  /*Rajouter des lignes de shadow permet d'étendre l'hombrage comme on souhaite*/
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 2px #141414,
     1px 1px 3px #141414,
     1px 1px 5px #141414,
     1px 1px 7px #141414,
     1px 1px 10px #141414,
     1px 1px 12px #141414,
     1px 1px 18px #141414;color: #fff;
}
.presarb1 {
    display: flex;
    justify-content: center;
    font-style: oblique;
    padding-left: 300px;
    padding-right: 300px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.separationpage {
    color: #7f4f24;
    font-size: 45px;
    text-align: center;
}

.conteneurarb1, .conteneurarb2,.conteneurarb3,.conteneurarb4,.conteneurarb5 {
    display: flex;
    text-align: center;
    justify-content: center;
    column-gap: 130px;
    margin-left: 100px;
    margin-left: 100px;
    padding: 50px;
    
}
.contarb1, .contarb4,.contarb5,.contarb8,.contarb9 {
    border-radius: 30px;
    padding: 7px;
    background-color: #e7c794ad;
}
.contarb2,.contarb3,.contarb6,.contarb7,.contarb10 {
    border-radius: 500px;
    background-color: #dc8d6c;
    padding: 20px;
}
.contarb1:hover {
    background-image: url("image/skimmia-japonica-181756.jpg");
    color:rgba(255, 255, 255, 0.1);
    transition: 1s ease-out;
}
.contarb2:hover {
    background-image: url("image/deutzia.jpg");
    background-size: 100%;
    color:rgba(255, 255, 255, 0.1);
    transition: 1s ease-out;
}
.contarb3:hover {
    background-image: url("image/forsythia.jpg");
    background-size: 100%;
    color:rgba(255, 255, 255, 0.1);
    transition: 1s ease-out;
}
.contarb4:hover {
    background-image: url("image/lilas.jpg");
    background-size: 100%;
    color:rgba(255, 255, 255, 0.1);
    transition: 1s ease-out;
}
.contarb5:hover {
    background-image: url("image/bougainn.jpg");
    background-size: 116%;
    color:rgba(255, 255, 255, 0.1);
    transition: 1s ease-out;
}
.contarb6:hover {
    background-image: url("image/corete-100417.jpg");
    background-size: 100%;
    color:rgba(255, 255, 255, 0.1);
    transition: 1s ease-out;
}
.contarb7:hover {
    background-image: url("image/fleuri.jpg");
    background-size: 110%;
    color:rgba(255, 255, 255, 0.1);
    transition: 1s ease-out;
}
.contarb8:hover {
    background-image: url("image/viorne.jpg");
    background-size: 100%;
    transition: 3s ease-out;
    color:rgba(255, 255, 255, 0.1);
    transition: 1s ease-out;
}
.contarb9:hover {
    background-image: url("image/gene.jpeg");
    background-size: 100%;
    color:rgba(255, 255, 255, 0.1);
    transition: 1s ease-out;
}

.contarb10:hover {
    background-image: url("image/athlea.jpg");
    background-size: 100%;
    color:rgba(255, 255, 255, 0.1);
    transition: 1s ease-out;
}

.zoomelem1 ,.zoomelem2,.zoomelem3,.zoomelem4,.zoomelem5,.zoomelem6,.zoomelem7,.zoomelem8,.zoomelem9,.zoomelem10 {
    -webkit-transition: all 1s ease; /* Safari et Chrome */
-moz-transition: all 1s ease; /* Firefox */
-ms-transition: all 1s ease; /* Internet Explorer 9 */
-o-transition: all 1s ease; /* Opera */
transition: all 1s ease;
}
.effetzoom1:hover  {
    font-size: 170%;
}
.conteneurarbuste1 {
    text-align: right;
    background-clip: border-box;
    background-image: url(image/jardinbotanique.jpg);
    background-size: 100%;
    padding: 340px;
}
.contenuarbuste1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 140%;
    padding: 19px;
    columns: 1;
    margin-right: 60%;
    
}
.hyperlienarb1 {
    color: black;
    text-decoration: none;
}
.hyperlienarb1:hover {
    color: rgb(3, 3, 165);
    transition: 1s ease-out;

}
.hyperlienarb2 {
    color: black;
    text-decoration: none;
}
.hyperlienarb2:hover {
    color: rgb(204, 0, 0);
    transition: 1s ease-out;
}

    