
    html, body {
        height: 100%;
        padding: 0;
        margin: 0;
      }  

/* code header Max */

.contpresheader {
    padding: 0px 20px;
    background-color: #729B79; 
    
}
.navbarre, ul {
    margin: 20px;
    padding: 0px;
    list-style: none;

}
.navbarre a {
    margin-top:  -130px;
    padding: 41px;
    display: flex;
    text-align:end;
    text-decoration: none;
    color: darkslategray;
    font-weight: bold;
    size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.navbarre .listecatnav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.logoheader {
    display: block;
    text-align: left;
}
.listecatnav {
    margin-top: 0px;
    margin-bottom: 0px;
    float: right;
}

.feliste1 {
    background-color:#edc4b3 ;
}
.feliste2 {
    background-color:#d69f7e;
}
.feliste3 {
    background-color: #b07d62;
}
.feliste4 {
    background-color: #8a5a44;
}
.effet1:hover {
    color: #edc4b3;
    transition: 1s ease-out;
}
.effet2:hover {
    color: #d69f7e;
    transition: 1s ease-out;
}
.effet3:hover {
    color: #b07d62;
    transition: 1s ease-out;
}
.effet4:hover {
    color: #8a5a44;
    transition: 1s ease-out;
}










/* PAGE ACCUEIL */
/* img{

    max-width:100%
    
    } */
    
/* .imgaccueil{
    height: 400px;
} */
    .slideshow{
    
    border: 5px solid white;
    box-shadow: 0 0 5px hsla(0,0%,0%,.5);
    overflow: hidden;
    max-width: 600px;
    margin: 2rem auto;
    position: relative
    
    }
        
.slideshow ul{
    padding-bottom: 66.67%;/* ratio pour le responsive */
    margin: 0;
    list-style-type: none;
    position: relative  
        }       
.slideshow li{
    top: 0;
    left: 0;
    animation: slideshow 25s ease infinite;
    position: absolute;
    opacity: 0;
    }
.slideshow li:nth-child(2){
    animation-delay: 3s
    }
.slideshow li:nth-child(3){
    animation-delay: 5s
    }
.slideshow li:nth-child(4){
    animation-delay: 7s
    }
.slideshow li:nth-child(5){
    animation-delay: 9s
    }
.slideshow li:nth-child(6){
    animation-delay: 12s
     }
.slideshow li:nth-child(7){
    animation-delay: 15s
    }
.slideshow li:nth-child(8){
    animation-delay: 18s
    }
    
        
    @keyframes slideshow{   
    0%{opacity: 0}
    10%{opacity: 1}
    20%{opacity: 1}
    25%{opacity: 0}
    100%{opacity: 0}  
    } 
.slideshow span{
    background: rgba(0,0,0,0.7);
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0
    }

/* code damien + footer damien */
body{
    background-color: #a3b18a;
}

footer{
    background-color: #3A5A40;
    
    margin: 0 auto;
    width: 100%;
    height: 40vh;
 
}
.imgvault{
    height:100px;
    margin-top: 15px;
}
.arbreenville{
    height: 100px;
    margin-top: 15px;
}
.marseille{
    height: 100px;
    margin-top: 15px; 
}
.footerimage{
    display: flex;
    justify-content: space-around;
}
.accueilintro{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: large;
    color: white;
    text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 2px #141414,
     1px 1px 3px #141414,
     1px 1px 5px #141414,
     1px 1px 7px #141414,
     1px 1px 10px #141414,
     1px 1px 12px #141414,
     1px 1px 18px #141414;
}




/* page Legumes */


h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align: center;
    margin-left: 100px;
    color: white;
    font-size:60px;
    text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 2px #141414,
     1px 1px 3px #141414,
     1px 1px 5px #141414,
     1px 1px 7px #141414,
     1px 1px 10px #141414,
     1px 1px 12px #141414,
     1px 1px 18px #141414;
     
}
.potagerkyoto {
    display: flex;
    height:300px;
    margin-left: 40px;
   
}
.legumeimage1{
    display: flex;
    margin-bottom: 10px;  
}
.legumetexte1 {
    display: flex;
    margin-left: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: large;
    color: white;
}


.titrepotager{
    margin-left: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 2px #141414,
     1px 1px 3px #141414,
     1px 1px 5px #141414,
     1px 1px 7px #141414,
     1px 1px 10px #141414,
     1px 1px 12px #141414,
     1px 1px 18px #141414;
     color:#fff;
}
.recolte{
    display: flex;
    justify-content: flex-end;
    height:500px;
}

.titrerecolte{
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 2px #141414,
     1px 1px 3px #141414,
     1px 1px 5px #141414,
     1px 1px 7px #141414,
     1px 1px 10px #141414,
     1px 1px 12px #141414,
     1px 1px 18px #141414;
     color:#fff; 
}
.recolte {
    display: flex;
    height:500px;
    margin-right: 40px;
    margin-top: 60px;
}
.legumeimage2{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    
}
.legumetexte2{
    margin-left: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: white;
    font-size: large;
}
.titrepermaculture{
    margin-left: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 2px #141414,
     1px 1px 3px #141414,
     1px 1px 5px #141414,
     1px 1px 7px #141414,
     1px 1px 10px #141414,
     1px 1px 12px #141414,
     1px 1px 18px #141414;
     color:#fff;
}
.permaculture{
    display: flex;
    height:400px;
    margin-left: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}


/* page FLEUR damien  */
.containerfleur{
    display: flex;
    background-image: url("image/fleur7.jpg");
    background-size:cover;
    padding:300px;
    background-repeat: no-repeat;
    background-clip: border-box;
}
.textefleur{
 
   border: #fff;
   background-color: white;
   margin-right: 300px;
   background: rgba(250, 245, 245, 0.4);
}
.entetefleur{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align: center;
    margin-left: 100px;
    color: white;
    font-size:60px;
    text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 2px #141414,
     1px 1px 3px #141414,
     1px 1px 5px #141414,
     1px 1px 7px #141414,
     1px 1px 10px #141414,
     1px 1px 12px #141414,
     1px 1px 18px #141414;
     color:#fff;
}
.textefleur p{
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    color: white;
    font-size:35px;
    text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 2px #141414,
     1px 1px 3px #141414,
     1px 1px 5px #141414,
     1px 1px 7px #141414,
     1px 1px 10px #141414,
     1px 1px 12px #141414,
     1px 1px 18px #141414;
     color:#fff;
  
}
	
.galerie {
	
    width: 1300px;
    max-width: 100%;
    max-height:720px;
    margin: auto;
    display: flex; 
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    
        
    }
    
    .galerie img {
    margin:0;
    min-width:100%;
    align-self: center; 
    scroll-snap-align: center
        
    }
    
    .ancre {
        
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    
    }
        
    /* .ancre li{
        
    display: inline-flex;
    justify-content: center;
    align-items:center;
    width: 30px;
    height: 30px;
    background: #404040;
    border-radius: 50%;
    } 
        
    .ancre li a{color:white}
        
    .ancre li:not(:last-child){
      margin-right: 30px;
    }
    
    
    .ancre li a:hover {
      opacity: 0.5;
    }   */
